/* .btn-modal {
  background-color: rgba(83, 158, 213, 0.6544818611038166);
  border: transparent;
} */
/* .portrait2 {
  border-radius: 10%;
  width: 20%;
} */
/* .activities-text {
  border-right: solid 3px rgba(83, 158, 213, 0.6544818611038166);
} */

.activities-section {
  border-top: 1px solid rgba(83, 158, 213, 0.6544818611038166);
}
